mat-card-header { background: #98b1c8; }

.mat-table{
  overflow: auto;
}

mat-card-content{
  overflow: auto;
  height: 100%;
}

button[btn-a] {
  background: #446d92 !important;
  color: white;
}

.switch-button{
  padding: 50px;
}

.example-radio-group {
  display: flex;
  flex-direction: column;
  margin: 15px 0;
  align-items: flex-start;
}

.example-radio-button {
  margin: 5px;
}

.radio-group-label{
  padding-top: 20px;
  padding-left: 15px;
  font-weight: bold;
  font-size: 17px;

}












