<mat-grid-list [cols]="1" rowHeight="12rem">


  <mat-grid-tile [colspan]="1" [rowspan]="2">
    <mat-card>
      <mat-card-header><mat-card-title>Material Inventory</mat-card-title></mat-card-header>
      <mat-card-content><div #donutchart></div></mat-card-content>
    </mat-card>

    <mat-card>
      <mat-card-header><mat-card-title>Production Orders</mat-card-title></mat-card-header>
      <mat-card-content><div #piechart></div></mat-card-content>
    </mat-card>
  </mat-grid-tile>


  <mat-grid-tile [colspan]="1" [rowspan]="2">

    <mat-card>
      <mat-card-header><mat-card-title>Expenses</mat-card-title></mat-card-header>
      <mat-card-content><div #barchart1></div></mat-card-content>
    </mat-card>

    <mat-card>
      <mat-card-header><mat-card-title>Income</mat-card-title></mat-card-header>
      <mat-card-content><div #barchart2></div></mat-card-content>
    </mat-card>

  </mat-grid-tile>

</mat-grid-list>

