<mat-grid-list [cols]="12" rowHeight="4rem">

  <mat-grid-tile [colspan]="4" [rowspan]="10">
    <mat-card>
      <mat-card-header>
        <mat-card-title>Productinventory Detail</mat-card-title>
      </mat-card-header>
      <mat-card-content id="productinventoryform">
        <mat-form [formGroup]="form" >

          <mat-form-field appearance="outline">
            <mat-label>Number</mat-label>
            <input matInput formControlName="number">
            <mat-error *ngIf="this.form.controls['number'].invalid"> {{ this.regexes['number']['message'] }}</mat-error>
          </mat-form-field>
          <p></p>

          <mat-form-field appearance="outline">
            <mat-label>Quantity</mat-label>
            <input matInput formControlName="qty">
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Reorderlevel</mat-label>
            <input matInput formControlName="reorderlevel">
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Updated Date</mat-label>
            <input matInput [matDatepicker]="updateddate" formControlName="updateddate">
            <mat-datepicker-toggle matIconSuffix [for]="updateddate"></mat-datepicker-toggle>
            <mat-datepicker #updateddate></mat-datepicker>
          </mat-form-field>


          <mat-form-field appearance="outline">
            <mat-label>Product</mat-label>
            <mat-select formControlName="product">
              <mat-option [value]="null" selected>Not Selected</mat-option>
              <mat-option *ngFor="let product of products" [value]="product">{{product.code}}</mat-option>
            </mat-select>
          </mat-form-field>


          <div id="butpanel">
            <button mat-raised-button (click)="add()" [disabled]="!enaadd">Add</button>
            <button mat-raised-button (click)="clear()">Clear</button>
            <button mat-raised-button (click)="update()" [disabled]="!enaupd">Update</button>
            <button mat-raised-button (click)="delete()" [disabled]="!enadel">Delete</button>
          </div>
        </mat-form>
      </mat-card-content>

    </mat-card>
  </mat-grid-tile>

  <mat-grid-tile [colspan]="8" [rowspan]="4">
    <mat-card id="ssearch">
      <mat-card-header>
        <mat-card-title>Productinventory Search</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <mat-form [formGroup]="ssearch">

          <mat-form-field appearance="outline">
            <mat-label>Search by Number</mat-label>
            <input matInput formControlName="ssnumber">
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Search by Product</mat-label>
            <mat-select formControlName="ssproduct">
              <mat-option [value]="null" selected>Not Selected</mat-option>
              <mat-option *ngFor="let product of products" [value]="product.id">{{product.name}}</mat-option>
            </mat-select>
          </mat-form-field>


          <div>
            <button mat-raised-button color="primary" (click)="btnSearchMc()"><mat-icon>search</mat-icon>Search</button>
            <button mat-raised-button color="primary" (click)="btnSearchClearMc()"><mat-icon>reorder</mat-icon>Clear Search</button>
          </div>

        </mat-form>
      </mat-card-content>

    </mat-card>
  </mat-grid-tile>

  <mat-grid-tile [colspan]="8" [rowspan]="6">
    <mat-card>
      <mat-card-header>
        <mat-card-title>Productinventory Table</mat-card-title>
        <div id="loading">
          <img [src]="imageurl">
        </div>
      </mat-card-header>
      <mat-card-content>
        <mat-table [dataSource]="data" class="mat-elevation-z8 demo-table">

          <ng-container *ngFor="let column of columns;let i = index;" [matColumnDef]="column">
            <mat-header-cell *matHeaderCellDef> {{headers[i]}} </mat-header-cell>
            <mat-cell *matCellDef="let element">{{ uiassist.getProperty(element,binders[i]) }} </mat-cell>
          </ng-container>



          <mat-header-row id="th" *matHeaderRowDef="columns"></mat-header-row>

          <mat-row *matRowDef="let row; columns: columns;" (click)="fillForm(row)" [ngClass]="{'selected-row' : row === selectedrow}"></mat-row>

        </mat-table>
        <mat-paginator [length]="20" [pageSize]="5" [pageSizeOptions]="[3,5,10,20]"></mat-paginator>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>


</mat-grid-list>


