<mat-tab-group #tabGroup (selectedTabChange)="onTabChange($event)">
  <mat-tab label="Product Detail">
    <mat-card>
      <mat-card-content id="productform">
        <mat-form [formGroup]="form">

          <mat-form-field appearance="outline">
            <mat-label>Code</mat-label>
            <input matInput formControlName="code" placeholder="eg: 2301">
            <mat-error *ngIf="this.form.controls['code'].invalid">{{ this.regexes['code']['message'] }}</mat-error>
          </mat-form-field>

          <p></p>

          <mat-form-field appearance="outline">
            <mat-label>Name</mat-label>
            <input matInput formControlName="name">
          </mat-form-field>

          <mat-form-field appearance="outline" floatLabel="always">
            <mat-label>Price</mat-label>
            <input matInput formControlName="price" class="example-right-align" placeholder="0">
            <span matTextPrefix>Rs.&nbsp;</span>
            <span matTextSuffix>.00</span>
          </mat-form-field>

          <!-- <mat-form-field floatLabel="always">
            <mat-label>Amount</mat-label>
            <input matInput type="number" class="example-right-align" placeholder="0">
            <span matTextPrefix>$&nbsp;</span>
            <span matTextSuffix>.00</span>
          </mat-form-field>-->

          <mat-form-field appearance="outline">
            <mat-label>Produced Date</mat-label>
            <input matInput [matDatepicker]="proddate" formControlName="proddate" placeholder="mm/dd/YY">
            <mat-datepicker-toggle matIconSuffix [for]="proddate"></mat-datepicker-toggle>
            <mat-datepicker #proddate></mat-datepicker>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Description</mat-label>
            <input matInput formControlName="description">
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Gender</mat-label>
            <mat-select formControlName="gender">
              <mat-option [value]="null" selected>Not Selected</mat-option>
              <mat-option *ngFor="let gender of genders" [value]="gender">{{gender.name}}</mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Age Category</mat-label>
            <mat-select formControlName="agecategory">
              <mat-option [value]="null" selected>Not Selected</mat-option>
              <mat-option *ngFor="let agecategory of agecategories" [value]="agecategory">{{agecategory.name}}</mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Color</mat-label>
            <mat-select formControlName="color">
              <mat-option [value]="null" selected>Not Selected</mat-option>
              <mat-option *ngFor="let color of colors" [value]="color">{{color.name}}</mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Size</mat-label>
            <mat-select formControlName="size">
              <mat-option [value]="null" selected>Not Selected</mat-option>
              <mat-option *ngFor="let size of sizes" [value]="size">{{size.name}}</mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Type</mat-label>
            <mat-select formControlName="type">
              <mat-option [value]="null" selected>Not Selected</mat-option>
              <mat-option *ngFor="let type of types" [value]="type">{{type.name}}</mat-option>
            </mat-select>
          </mat-form-field>

          <div id="imgpanel">
            <img [src]="imageempurl">
            <input id="userImage" hidden="hidden" (change)="selectImage($event)" Select type="file" formControlName="image">
            <label for="userImage" id="selectbutton">Select</label>
            <label id="clearbutton" (click)="clearImage()">Clear</label>
          </div>
          <div id="butpanel">
            <button mat-raised-button (click)="add()" [disabled]="!enaadd">Add</button>
            <button mat-raised-button (click)="clear()">Clear</button>
            <button mat-raised-button (click)="update()" [disabled]="!enaupd">Update</button>
            <button mat-raised-button (click)="delete()" [disabled]="!enadel">Delete</button>
          </div>
        </mat-form>
      </mat-card-content>
    </mat-card>
  </mat-tab>

  <mat-tab label="Product Search & Table">
    <mat-card id="ssearch">
      <mat-card-content>
        <mat-form [formGroup]="ssearch">

          <mat-form-field appearance="outline">
            <mat-label>Search by Code</mat-label>
            <input matInput formControlName="sscode">
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Search by Gender</mat-label>
            <mat-select formControlName="ssgender">
              <mat-option [value]="null" selected>Not Selected</mat-option>
              <mat-option *ngFor="let gender of genders" [value]="gender.id">{{gender.name}}</mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Search by Age Category</mat-label>
            <mat-select formControlName="ssagecategory">
              <mat-option [value]="null" selected>Not Selected</mat-option>
              <mat-option *ngFor="let agecategory of agecategories" [value]="agecategory.id">{{agecategory.name}}</mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Search by Color</mat-label>
            <mat-select formControlName="sscolor">
              <mat-option [value]="null" selected>Not Selected</mat-option>
              <mat-option *ngFor="let color of colors" [value]="color.id">{{color.name}}</mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Search by Size</mat-label>
            <mat-select formControlName="sssize">
              <mat-option [value]="null" selected>Not Selected</mat-option>
              <mat-option *ngFor="let size of sizes" [value]="size.id">{{size.name}}</mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Search by Type</mat-label>
            <mat-select formControlName="sstype">
              <mat-option [value]="null" selected>Not Selected</mat-option>
              <mat-option *ngFor="let type of types" [value]="type.id">{{type.name}}</mat-option>
            </mat-select>
          </mat-form-field>

          <div>
            <button mat-raised-button color="primary" (click)="btnSearchMc()"><mat-icon>search</mat-icon>Search</button>
            <button mat-raised-button color="primary" (click)="btnSearchClearMc()"><mat-icon>reorder</mat-icon>Clear Search</button>
          </div>
        </mat-form>
      </mat-card-content>
    </mat-card>

    <mat-card>
      <mat-card-content>
        <mat-table [dataSource]="data" class="mat-elevation-z8 demo-table">

          <ng-container *ngFor="let column of columns;let i = index;" [matColumnDef]="column">
            <mat-header-cell *matHeaderCellDef> {{headers[i]}} </mat-header-cell>
            <mat-cell *matCellDef="let element">{{ uiassist.getProperty(element,binders[i]) }} </mat-cell>
          </ng-container>

          <mat-header-row id="th" *matHeaderRowDef="columns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: columns;" (click)="fillForm(row)" [ngClass]="{'selected-row' : row === selectedrow}"></mat-row>

        </mat-table>
        <mat-paginator [length]="20" [pageSize]="5" [pageSizeOptions]="[3,5,10,20]"></mat-paginator>
      </mat-card-content>
    </mat-card>
  </mat-tab>
</mat-tab-group>
