/* Tool Bar */

@import url('https://fonts.googleapis.com/css2?family=Smooch&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&display=swap');




mat-toolbar-row {
  background-color: #071f35;
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}



.title-name {
  font-family: Berkshire Swash ;
  color: white;
  font-size: 27px;
  padding-left: 10px;
}

.toolbar-left {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}


.toolbar-right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.mat-sidenav {
  background-repeat: no-repeat;
  background-size: cover;

}


.img-logo {
  height: 60px;
  border-radius: 5px;
  margin-left: 10px;
  vertical-align: middle;
  padding: 5px;
}


.btn-nav.mat-mdc-icon-button {
  background-color: #24496b;
  color: #ffffff;
  vertical-align: middle;
  box-shadow: 1px 1px 6px #333333;
  //border: #f7fafe solid 2px;
  padding: 10px;
  --mat-mdc-button-ripple-color: #f7fafe;
}

.lbl-user {
  font-size: 14px;
  color: white;
  margin: 0px 5px 0px 0px;

}

.img-user {
  height: 50px;
  border-radius: 50%;
  vertical-align: middle;
}

.btn-logout {
  color: white;
  border-radius: 0px;
  margin: 0px 0px 0px -5px;
  font-size: 25px;
}

.btn-profile {
  color: white;
  border-radius: 0px;
  margin: 0px 0px 0px -5px;
  font-size: 25px;
  padding-left: 10px;
}


/* Side Navigation */

mat-sidenav-container {
  height: 100%;
  background-color: #f7fafe
}

mat-sidenav {
  width: 17%;
}

mat-sidenav a {
  font-size: 14px;
  text-decoration: none;
  color: black;
}

mat-sidenav mat-icon {
  font-size: 16px;
  margin: 0px 0px -10px 0px;
}

mat-nav-list mat-list-item {
  height: 35px;
  font-size: 14px;
  padding: 0px 5px 0px 10px;
  border-bottom: #98b1c8 2px solid;
}

mat-nav-list mat-list-item:hover {
  background: #98b1c8;
}

mat-nav-list mat-expansion-panel {
  box-shadow: none;
  border-radius: unset;
}

mat-nav-list mat-expansion-panel-header {
  height: 35px;
  padding: 0 20px 0 0;
}

mat-nav-list mat-expansion-panel-header:hover {
  background: #98b1c8 !important;
}

mat-nav-list mat-expansion-panel mat-list-item {
  height: 28px;
}



