<mat-grid-list [cols]="12" rowHeight="4rem">

  <mat-grid-tile [colspan]="4" [rowspan]="10">
    <mat-card>
      <mat-card-header>
        <mat-card-title>Invoice Detail</mat-card-title>
      </mat-card-header>
      <mat-card-content id="invoiceform">
        <mat-form [formGroup]="form" >

          <mat-form-field appearance="outline">
            <mat-label>Number</mat-label>
            <input matInput formControlName="number">
            <mat-error *ngIf="this.form.controls['number'].invalid"> {{ this.regexes['number']['message'] }}</mat-error>
          </mat-form-field>
          <p></p>


          <mat-form-field appearance="outline">
            <mat-label>Date Created</mat-label>
            <input matInput [matDatepicker]="datecreated" formControlName="datecreated">
            <mat-datepicker-toggle matIconSuffix [for]="datecreated"></mat-datepicker-toggle>
            <mat-datepicker #datecreated></mat-datepicker>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Remarks</mat-label>
            <input matInput formControlName="remarks">
          </mat-form-field>

          <mat-form-field appearance="outline" floatLabel="always">
            <mat-label>Paid Amount</mat-label>
            <input matInput formControlName="paidamount" class="example-right-align" placeholder="0">
            <span matTextPrefix>Rs.&nbsp;</span>
            <span matTextSuffix>.00</span>
          </mat-form-field>

          <mat-form-field appearance="outline" floatLabel="always">
            <mat-label>Total Amount</mat-label>
            <input matInput formControlName="totalamount" class="example-right-align" placeholder="0">
            <span matTextPrefix>Rs.&nbsp;</span>
            <span matTextSuffix>.00</span>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Order</mat-label>
            <mat-select formControlName="corder" (selectionChange)="updateSelection($event.value)">
              <mat-option [value]="null" selected>Not Selected</mat-option>
              <mat-option *ngFor="let corder of corders" [value]="corder">{{corder.number}}</mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Customer</mat-label>
            <input matInput formControlName="customer">
          </mat-form-field>

          <!--<mat-form-field appearance="outline">
            <mat-label>Customer</mat-label>
            <mat-select formControlName="customer">
              <mat-option [value]="null" selected>Not Selected</mat-option>
              <mat-option *ngFor="let customer of customers"
                          [value]="customer">{{customer.companyname}}</mat-option>
            </mat-select>-
          </mat-form-field>-->
          <mat-form-field appearance="outline">
            <mat-label>Invoice Status</mat-label>
            <mat-select formControlName="invoicestatus">
              <mat-option [value]="null" selected>Not Selected</mat-option>
              <mat-option *ngFor="let invoicestatus of invoicestatuses"
                          [value]="invoicestatus">{{invoicestatus.name}}</mat-option>
            </mat-select>
          </mat-form-field>

          <div id="butpanel">
            <button mat-raised-button (click)="add()" [disabled]="!enaadd">Add</button>
            <button mat-raised-button (click)="clear()">Clear</button>
            <button mat-raised-button (click)="update()" [disabled]="!enaupd">Update</button>
            <button mat-raised-button (click)="delete()" [disabled]="!enadel">Delete</button>
          </div>
        </mat-form>
      </mat-card-content>

    </mat-card>
  </mat-grid-tile>

  <mat-grid-tile [colspan]="8" [rowspan]="4">
    <mat-card id="ssearch">
      <mat-card-header>
        <mat-card-title>Invoice Search</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <mat-form [formGroup]="ssearch">

          <mat-form-field appearance="outline">
            <mat-label>Search by Number</mat-label>
            <input matInput formControlName="ssnumber">
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Search by Corder</mat-label>
            <mat-select formControlName="sscorder">
              <mat-option [value]="null" selected>Not Selected</mat-option>
              <mat-option *ngFor="let corder of corders" [value]="corder.id">{{corder.number}}</mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Search by Customer</mat-label>
            <mat-select formControlName="sscustomer">
              <mat-option [value]="null" selected>Not Selected</mat-option>
              <mat-option *ngFor="let customer of customers" [value]="customer.id">{{customer.name}}</mat-option>
            </mat-select>
          </mat-form-field>

          <div>
            <button mat-raised-button color="primary" (click)="btnSearchMc()"><mat-icon>search</mat-icon>Search</button>
            <button mat-raised-button color="primary" (click)="btnSearchClearMc()"><mat-icon>reorder</mat-icon>Clear Search</button>
          </div>

        </mat-form>
      </mat-card-content>

    </mat-card>
  </mat-grid-tile>

  <mat-grid-tile [colspan]="8" [rowspan]="6">
    <mat-card>
      <mat-card-header>
        <mat-card-title>Invoice Table</mat-card-title>
        <div id="loading">
          <img [src]="imageurl">
        </div>
      </mat-card-header>
      <mat-card-content>
        <mat-table [dataSource]="data" class="mat-elevation-z8 demo-table">

          <ng-container *ngFor="let column of columns;let i = index;" [matColumnDef]="column">
            <mat-header-cell *matHeaderCellDef> {{headers[i]}} </mat-header-cell>
            <mat-cell *matCellDef="let element">{{ uiassist.getProperty(element,binders[i]) }} </mat-cell>
          </ng-container>

          <mat-header-row id="th" *matHeaderRowDef="columns"></mat-header-row>

          <mat-row *matRowDef="let row; columns: columns;" (click)="fillForm(row)" [ngClass]="{'selected-row' : row === selectedrow}"></mat-row>

        </mat-table>
        <mat-paginator [length]="20" [pageSize]="5" [pageSizeOptions]="[3,5,10,20]"></mat-paginator>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>


</mat-grid-list>




